.donation {
    width: 26%;
	height: 100vh;
	margin: auto;
	display: flex;
    flex-direction: column;

    h1 {
        margin-top: 1em;
        margin-bottom: .5em;
        font-size: 48px;
        color: var(--color-black);
    }

    span {
        font-size: 1.3em;
        font-weight: 100;
        margin-bottom: 1em;
        color: var(--color-gray);
    }

    form {
        .input-block {
            margin: 1.5em 0;
            color: var(--color-gray);
            width: 100%;
            display: flex;
            flex-direction: column;

            input {
                padding: .7em 1em;
                margin-top: .5em;
                opacity: .6;
                border: .13em solid var(--color-gray);
                border-radius: .3em;

                &:focus {
                    border: .13em solid var(--color-purple);
                }
            }

            label {
                font-weight: bold;
                color: var(--color-purple);
                font-size: .875rem;
            }
        }
    }
}
