.ongList {
	width: 80%;

	margin: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.ongList h1 {
	font-weight: bold;
	font-size: 48px;
	color: var(--color-black);

	margin: .7em 0;
}

.ongList .headerTable {
	width: 60%;
}

.ongList .headerTable h5 {
	font-weight: normal;
	font-size: 20px;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 1em;
	margin-bottom: 2em;

	background: var(--color-green-2);
	color: var(--color-white);

	padding: .7em;

	border-radius: .3em;
	border: .13em solid var(--color-green);

	svg {
		margin-right: 1em;

		font-size: 1.5em;
	}

}

.ongList .headerTable .title {
	margin: .5em 0;

	width: 100%;

	display: flex;
	justify-content: space-between;
}

.ongList .headerTable .title span {
	margin-top: .5em;
	margin-bottom: 1em;

	font-weight: normal;
	font-size: 14px;
}
