#header {
	background: var(--color-blue);

	padding: 1.4em 2.4em;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header img {
	width: 7.7%;
}

#header a {
	padding: .7em 1.7em;
	margin: 0 .5em;

	background: var(--color-white);
	color: var(--color-purple);
	text-decoration: none;

	border-radius: .2em;
}

#header a:last-child {
	background: var(--color-purple);
	color: var(--color-white);
}