* {
	font-size: 100%;

	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

:root {

	--color-white: #FFFFFF;
	--color-blue: #31B9E7;
	--color-purple: #622892;
	--color-black: #374049;
	--color-brown: #707070;
	--color-gray: #8A939D;
};